{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<!-- <div class="container mx-auto"> -->
    <form action="/quote" method="post" class="row">
        <div class="col">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="col">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
<!-- </div> -->
{% endblock %}
