* {
    border: 1px solid black;
    margin: 10px;
}

/* html, body, header {
    border: none;
} */

.navbar {
    text-align: right;
}

.simple-field {
    text-align: center;
}

.simple-field input {
    border-radius: 25px;
}

.logo {
    font-size: 64px;
    display: flex;
    justify-content: center;
}
