* {
    border: 1px solid black;
    /* margin: 10px; */
}

/* html, body, header {
    border: none;
} */

a {
    text-decoration: none;
    color: slategray;
}

.navbar {
    text-align: right;
}

.simple-field {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.simple-field input {
    width: 90%;
    border-radius: 25px;
}

.logo {
    font-size: 64px;
    display: flex;
    justify-content: center;
}
