* {
    /* border: 1px solid black; */
    margin: 5px;
}

/* html, body, header {
    border: none;
} */

a {
    text-decoration: none;
    color: darkslategray;
}

.navbar {
    text-align: right;
}

.simple-field {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.simple-field input {
    width: 30%;
    border-radius: 25px;
}

.simple-field > div {
    width: 100%;
}

.logo {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.advance-field {
}

.advance-field table {
    width: 60%;
}

.advance-field table .label {
    width: 30%
}

.advance-field table input {
    width: 90%;
}
