{% extends "auctions/layout.html" %}

{% block body %}
    {% if title %}
        <h2>{{ title }}</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}
    {% for listing in listings %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="{{ listing.url }}" class="card-img img-fluid" alt="{{ listing.description }}">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <p class="card-text"><small><a href="{% url 'mylisting' listing.user %}">{{ listing.user }}</a></small></p>
                        <h5 class="card-title"><a href="{% url 'listing' listing.id %}">{{ listing.name }}</a></h5>
                        <p class="card-text">{{ listing.description }}</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        <p class="card-text"></p>
                        {% for category in listing.categories.all %}
                            <span class="badge badge-pill badge-secondary">{{ category.name }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        </div>
    {% empty %}
        <p>No listing yet.</p>
    {% endfor %}
{% endblock %}
