{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="{{ listing.url }}" class="card-img" alt="{{ listing.description }}">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <p class="card-text"><small>{{ listing.user }}</small></p>
                        <h5 class="card-title"><a href="{% url 'listing' listing.id %}">{{ listing.name }}</a></h5>
                        <p class="card-text">{{ listing.description }}</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        {% for category in listings.categories %}
                            <p class="<span class="badge badge-pill badge-secondary">[{ category }]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
