{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <!-- title and watchlist -->
    <div class="row">
        <div class="col-sm-11">
            <div class="d-flex align-items-center">
                <h1>{{ listing.name }}
                {% if not listing.active %}
                    <span class="ml-3 badge badge-secondary">Closed</span>
                {% endif %}
                </h1>
            </div>
        </div>
        {% if listing.user != request.user %}
            {% if listing.is_in_watchlist %}
                <form action="{% url 'watchlist.delete' %}" method="post">
                <input type="hidden" name="action" value="delete">
                {% else %}
                <form action="{% url 'watchlist.add' %}" method="post">
                <input type="hidden" name="action" value="add">
            {% endif %}
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ listing.id }}">
                <input type="hidden" name="prev" value="{{ request.get_full_path }}">
                <input class="btn {{ listing.is_in_watchlist|yesno:'btn-secondary,btn-primary' }}" type="submit" value="Watchlist">
            </form>
        {% endif %}
    </div>
    <p>by. <a href="{% url 'listings' listing.user %}">@{{ listing.user }}</a></p>
    <div class="row mb-3">
        <div class="col-md-5">
            <img src="{{ listing.url }}" class="rounded img-fluid" alt="{{ listing.description }}">
        </div>
        <div class="col-md-7">
            <div class="d-flex align-items-center">
                <h2>${{ listing.current_bid }}</h2>
                {% if bid_form.highest_bidder %}
                    <div class="ml-2">
                        by <a href="{% url 'listings' bid_form.highest_bidder %}">{{ bid_form.highest_bidder }}</a>
                    </div>
                {% endif %}
            </div>
            <p class="font-weight-bold">Description:</p>
            <p>{{ listing.description }}</p>
            <p>
                <b>Categories:</b>
                {% for category in listing.categories.all|dictsort:"name" %}
                    <span class="badge badge-pill badge-secondary">{{ category.name }}</span>
                {% endfor %}
            </p>
            {% if listing.user != request.user and listing.active %}
                <form class="row" action="{% url 'listing.bid' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ listing.id }}">
                    <div class="col-sm-4">
                        {{ bid_form }}
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn {{ is_winner|yesno:'btn-secondary,btn-primary' }}" {{ is_winner|yesno:'disabled,'}}>Bid</button>
                    </div>
                </form>
            {% endif %}
            {% if listing.user == request.user %}
                <div class="d-flex">
                    {% if listing.active %}
                        <form class="mr-3" action="{% url 'listing.close' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ listing.id }}">
                            <input type="hidden" name="prev" value="{{ request.get_full_path}}">
                            <input class="btn btn-danger" type="submit" value="Close Bid">
                        </form>
                    {% endif %}
                    <form action="{% url 'listing.delete' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ listing.id }}">
                        <input type="hidden" name="prev" value="{{ request.get_full_path }}">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <form class="mb-3" action="{% url 'comment.add' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" name="id" value="{{ listing.id }}">
            {{ comment_form }}
        </div>
        <div class="text-right">
            <input class="btn btn-primary" type="submit" value="Comment">
        </div>
    </form>
    {% for comment in listing.comments.all|dictsortreversed:"timestamp" %}
        <div>
            <div class="d-flex align-items-end">
                <a href="{% url 'listings' comment.user %}">{{ comment.user }}</a>
                <small class="ml-2">{{ comment.timestamp|naturaltime }}</small>
            </div>
            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}
{% endblock %}
