{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-sm-11">
            <h1>{{ listing.name }}</h1>
        </div>
        {% if listing.user != request.user %}
            <div class="col-sm-1">
                <a href="">Add to Watchlist</a>
            </div>
        {% endif %}
    </div>
    <p>by. <a href="{% url 'mylistings' listing.user %}">@{{ listing.user }}</a></p>
    <div class="row">
        <div class="col-md-5">
            <img src="{{ listing.url }}" class="rounded img-fluid" alt="{{ listing.description }}">
        </div>
        <div class="col-md-7">
            <h2>${{ listing.current_bid }}</h2>
            <p class="font-weight-bold">Description:</p>
            <p>{{ listing.description }}</p>
            <p>
                <b>Categories:</b>
                {% for category in listing.categories.all|dictsort:"name" %}
                    <span class="badge badge-pill badge-secondary">{{ category.name }}</span>
                {% endfor %}
            </p>
            {% if listing.user != request.user %}
                <form class="row">
                    {% csrf_token %}
                    <div class="col-sm-4">
                        {{ bid_form }}
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Bid</button>
                    </div>
                </form>
            {% endif %}
            {% if listing.user == request.user %}
                <div class="row">
                    <div class="col-sm-1">
                        <a href="">Close Bid</a>
                    </div>
                    <div class="col-sm-1">
                        <a href="">Delete</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
